@import url('https://fonts.googleapis.com/css?family=Acme|Cuprum');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    max-width: 980px;
    margin: auto;
}

body p {
    text-align: justify;
    margin: 10px;
}

.top img {
    display: block;
    width: 100%;
}

header .menu {
    display: flex;
    justify-content: space-around;
}

header .menu li {
    display: inline;
    margin: 0 2%;
    display: block;
    width: 100%;
}

header .menu li a {
    text-decoration: none;
    color: blue;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

header .menu li a:hover {
    text-decoration: underline;
}

header h1 {
    font-family: 'Cuprum', sans-serif;
    font-size: 3rem;
    margin: 20px auto;
    text-align: center;
}

header img {
    display: block;
    width: 100%;
}

header img {
    display: flex;
    justify-content: center;
}

main h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width: 500px) {
    .news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.news img {
    display: block;
    width: 100%;
}

.news article {
    margin: 20px;
} 

.news article h3 {
    text-align: center;
} 

.news article p {
    margin: 10px 0 0 0;
} 

.friends p {
    font-family: 'Cuprum', sans-serif;
    text-align: center;
}

@media (min-width: 400px) {
    .friends {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .friends {
        grid-template-columns: repeat(3, 1fr);
    }
}

#staff p {
    text-align: center;
}

#staff > article {
    display: flex;
    justify-content: center;
}

@media (min-width: 400px) {
    .teachers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .teachers {
        grid-template-columns: repeat(3, 1fr);
    }
}

.teachers img {
    display: block;
    width: 100%;
}

.teachers article {
    margin: 20px;
}

#contacts h3 {
    text-align: center;
}







.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

.contact h4 {
    text-align: center;
}

.contact h4 p {
    text-align: center;
}

@media (min-width: 400px) {
    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (min-width: 600px) {
    .contact {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}