@import url('https://fonts.googleapis.com/css?family=Acme|Cuprum');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    max-width: 980px;
    margin: auto;
    background-color: aliceblue;
}

.top img {
    display: block;
    width: 100%;
}


@media (min-width: 500px) {
    #navigation {
        display: none;
    }
}

#menuMobile li {
  text-decoration: none;
  color: blue;
  transition: color 0.3s ease;
}

#menuMobile a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 5; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menuMobile
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuMobile a
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}




@media (max-width: 500px) {
    #navigationDesktop {
        display: none;
    }
}

#navigationDesktop {
    position: sticky;
    top: 0;
    z-index: inherit;
}

header .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: yellow;
    margin: 0px;
    padding: 10px;
}

header .menu li {
    display: inline;
    margin: 0 2%;
    display: block;
}

header .menu li a {
    text-decoration: none;
    color: blue;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    text-align: center;
}

header .menu li a:hover {
    text-decoration: underline;
}

header h1 {
    font-family: 'Cuprum', sans-serif;
    font-size: 3rem;
    margin: 20px auto;
    text-align: center;
}

header .baner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/station.png);
    background-size: cover;
    background-position: center;
}

main h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

main p {
    text-align: justify;
    margin: 10px;
}

@media (min-width: 500px) {
    .news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.news img {
    display: block;
    width: 100%;
}

.news article {
    margin: 20px;
}

.news article h3 {
    text-align: center;
}

.news article p {
    margin: 10px 0 0 0;
}

.friends p {
    font-family: 'Cuprum', sans-serif;
    text-align: center;
}

@media (min-width: 400px) {
    .friends {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .friends {
        grid-template-columns: repeat(3, 1fr);
    }
}

#staff p {
    text-align: center;
}

#staff>article {
    display: flex;
    justify-content: center;
}

@media (min-width: 400px) {
    .head {
        display: grid;
        grid-template-columns: 2.5fr 5fr 2.5fr;
    }
}

@media (min-width: 600px) {
    .head {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.head img {
    display: block;
    width: 100%;
}

.head article {
    margin: 30px;
}

@media (min-width: 400px) {
    .teachers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .teachers {
        grid-template-columns: repeat(3, 1fr);
    }
}

.teachers img {
    display: block;
    width: 100%;
}

.teachers article {
    margin: 30px;
}

#contacts h3 {
    text-align: center;
}

.form {
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width: 500px) {
    .form p {
        display: none;
    }
}

.nameArea {
    width: 100%;
    display: flex;
    margin-top: 0px;
    padding: 10px 0px;
}

.emailArea {
    width: 100%;
    display: flex;
    margin-top: 5px;
    padding: 10px 0px;
}

.textArea {
    width: 100%;
    display: flex;
    margin-top: 0px;
    padding: 15px 0px;
}

@media (min-width: 500px) {
    .name {
        display: grid;
        grid-template-columns: 3fr 7fr;
    }

    .email {
        display: grid;
        grid-template-columns: 3fr 7fr;
    }

    .message {
        display: grid;
        grid-template-columns: 3fr 7fr;
    }

    .form p {
        text-align: center;
    }

    .nameArea {
        width: 100%;
        display: flex;
        margin-top: 0px;
        padding: 10px 0px;
    }

    .emailArea {
        width: 100%;
        display: flex;
        margin-top: 0px;
        padding: 10px 0px;
    }

    .textArea {
        width: 100%;
        display: flex;
        margin-top: 0px;
        padding: 15px 0px;
    }
}

#button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

#button:hover {
    background-color: #4CAF50;
    color: white;
}

#button-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 500px) {
    #button-container {
        display: flex;
        justify-content: flex-end;
    }

}

.contact h4 {
    text-align: center;
}

.contact p {
    text-align: center;
}

@media (min-width: 400px) {
    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 600px) {
    .contact {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.end {
    text-align: center;
    color: white;
    margin: 0px;
    background-color: grey;
}

.end img {
    display: block;
    width: 100%;
}

.end p {
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}
